body{
  /* background-color: #F7D3AA; */
  background-color: #DF9D6C;
}
header{
  height: 50px;
  background-color: #9F7159;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.optionsBar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly
}
.navLink{
  text-decoration: none;
  margin-left: 50px;
  margin-right: 50px ;
  color: black;
}
.noDec{
  text-decoration: none;
  color: black;
}

.homeLogo{
  max-width: 50px;
  object-fit: contain;
}
.siteLogo{
  margin: 0;
  display: flex;
  text-decoration: none;
  color: black;
  font-size: xx-large;
  
}
.searchBar{
  display: flex;
  align-items: center;
  
}
.magnifyingGlass{
  max-width: 30px;
}
.searchInput{
  width: 400px;
  border-radius: 10px;
}

.feedBody{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.albumCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  width: 300px;
  padding: 10px;
}
.card{
  padding: 0;
  margin: 0;
}
.cardText{
  margin-bottom: -175px;
  z-index: 1;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  flex-wrap: wrap;
  width: 175px;
  height: 175px;
}
.cardText:hover{
  opacity: .80;
}
.albumDetailsBody{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}
.column{
  display: flex;
  flex-direction: column
}