body{
  /* background-color: #F7D3AA; */
  background-color: #DF9D6C;
}
header{
  height: 50px;
  background-color: #9F7159;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
link{
  text-decoration: none;
}
.homeLogo{
  max-width: 50px;
  object-fit: contain;
}
.siteLogo{
  margin: 0;
  display: flex;
  text-decoration: none;
  color: black;
  font-size: xx-large;
  
}
.searchBar{
  display: flex;
  align-items: center;
  
}
.magnifyingGlass{
  max-width: 30px;
}
.searchInput{
  width: 400px;
  border-radius: 10px;
}

.feedBody{
  display: flex;
  flex-wrap: wrap;
}
.albumCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.albumDetailsBody{
  display: flex;
  flex-direction: column;
  align-items: center;
}