@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

.profilePic:hover, .grow:hover, .pencil:hover{
  transform: scale(1.1);
  transition: all 0.3s;
}
.grow{
  transition: all 0.3s;

}

body{
  /* background-color: #F7D3AA; */
  background-color: #293241;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexAround{
  display: flex;
  justify-content: space-around;
}


                                   /* NAVBAR */
header{
  height: 50px;
  background-color: #98c1d9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.optionsBar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly
}
.navLink{
  text-decoration: none;
  margin-left: 50px;
  margin-right: 50px ;
  color: black;
}
.noDec{
  text-decoration: none;
  color: #e0fbfc;
  font-weight: 900;
  text-shadow: 1px 1px 1px #293241;
  font-size: 20px;
  transition: all 0.3s;




  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}
.homeLogo{
  max-width: 50px;
  object-fit: contain;
  
}
.siteLogo{
  margin: 0;
  display: flex;
  text-decoration: none;
  color: black;
  font-size: xx-large;
  
}
.orange{
  color: #ee6c4d;
}
.siteTitle{
  color: #ee6c4d;
  font-weight: 900;
  text-shadow: 1px 1px 1px #293241;
  font-family: 'Monoton';
}
.searchBar{
  display: flex;
  align-items: center;
  
  
}
.magnifyingGlass{
  max-width: 30px;
}
.searchInput{
  width: 400px;
  border-radius: 10px;
  border: 2px solid #293241;
}
.searchInput:focus{
  border: 2px solid #ee6c4d;

}

.feedBody{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.albumCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  width: 175px;
  padding: 10px;
}
.card{
  padding: 0;
  margin: 0;
}
.cardText{
  margin-bottom: -175px;
  z-index: 1;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #98c1d9;
  width: 175px;
  height: 175px;
  max-width: 175;
  transition: all 0.3s;
}
.cardText:hover{
  opacity: .80;
  transition: all 0.3s;
  transform: scale(1.1);
}
.albumDetailsBody{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}
.column{
  display: flex;
  flex-direction: column;
  /* background-color: #98c1d9; */
  border-radius: 10px;
  margin: 0 10px;
}
.columnBack{
  display: flex;
  flex-direction: column;
  background-color: #98c1d9;
  border-radius: 10px;
  margin: 0 10px;
}
.albumImg{
  width: 175px;
  border-radius: 10px;
}
.userDetailsBody{
  display: flex;
  justify-content: flex-start;
}
.userDesc{
  width: 300px;
  left: 0;
  position: relative;
  color: #e0fbfc;
}
.reviewDiv{
  display: flex;
  flex-direction: row-reverse;
  overflow-x: auto;
}
h1,h2, h3{
  color: #e0fbfc;
}


/* USER DETAILS PAGE  */
.pencil{
  max-width: 25px;
}
.reviewColumn{
  display: flex;
  flex-direction: column;
  justify-items:start;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  max-width: 175px;
  border: 2px solid #98c1d9;
  border-radius: 10px;
}
.noMarg{
margin: 0;
}
.iconBody{
  display: flex;
  flex-wrap: nowrap;
  /* padding-bottom: 20px; */
  justify-content: space-evenly;
  
}
                         /* HOME PAGE */
.bar1{
  opacity: 0;
  transition: all 0.5s;
}
.bar2{
  transition: ease-in 0.5s;
  transition-delay: 0s;
  opacity: 1;
}
.bar3{
  transition: ease-in 1s;
  transition-delay: 1s;
  opacity: 1;
}
.bar4{
  transition: ease-in 1s;
  transition-delay: 2s;
  opacity: 1;
}

.bar5{
  transition: ease-in 1s;
  transition-delay: 3s;
  opacity: 1;
}
.bar6{
  transition: ease-in 1s;
  transition-delay: 4s;
  opacity: 1;
}
.bar7{
  transition: ease-in 1s;
  transition-delay: 5s;
  opacity: 1;
}
.spotifyLink{
  width: 250px;
  height: 200px;
  border: none;
}
.profilePic{
  height: 150px;
  border-radius: 10px;
  transition: all 0.3s;
}
.socials{
  display: flex;
}

.reviewForm {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  padding:10px;
  border-radius:10px;
  background-color: #98c1d9;
  margin-top: 50px;
}

.signInButton {

  padding:10px;
  margin: 15px;
  border:none;
  background-color:#c15a2d; 
  color:#fff;
  font-weight:600;
  border-radius:5px;
  width: 150px;
}

button {


  
  padding:10px;
  border:none;
  background-color:#c15a2d;
  color:#fff;
  font-weight:600;
  border-radius:5px;
  width: 50%;
  



}
input[type=text] {
  padding:10px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.rounded-input {
  padding:10px;
  border-radius:10px;
  margin: 15px
}